.root {
    -fx-background-color: #f9f9f9;
    -fx-font-family: "Segoe UI", sans-serif;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #2c3e50;
}

.button {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-background-radius: 4;
    -fx-border-color: #ccc;
    -fx-border-radius: 4;
    -fx-padding: 6px;
}
